# Node
node_modules/
**/node_modules/
# Env
.env
.env.*
# OS
.DS_Store
Thumbs.db
# Build
dist/
build/
# Prisma local DB
prisma/dev.db
# Logs
*.log
# Vite
.vite
# Others
*.zip
*.tar

# Backend runtime / local data
Backend-Huancavelica-Alertas-Agricolas/services/dev/data/
Backend-Huancavelica-Alertas-Agricolas/services/**/data/

# Trained models, model weights and ML artifacts
Backend-Huancavelica-Alertas-Agricolas/services/**/trained-models/
Backend-Huancavelica-Alertas-Agricolas/services/**/trained-models/**
**/trained-models/

# MLflow / MinIO / DB artifacts
**/mlflow.db
**/weights.bin
**/*.bin
**/*.db

# Script outputs and temporary files
Backend-Huancavelica-Alertas-Agricolas/scripts/out/
*.err
*.out

# Docker / compose local data
**/data/


# Ignore terraform artifacts
aws/terraform/.terraform/
aws/terraform/terraform.tfstate
aws/terraform/terraform.tfstate.backup

